<mat-toolbar color="primary" style="top:0%">
    <mat-toolbar-row>
      <span>Dashboard</span>
          <button mat-button>Popup</button>
          
    </mat-toolbar-row>
</mat-toolbar>

<ol>
    
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="data">
      You entered values: 
      <i>Age: <strong>{{data.age}}</strong></i>
      <i>Name:<strong>{{data.name}}</strong></i>
    </li>
  </ol>
