<h1 mat-dialog-title>Hello!</h1>
<div mat-dialog-content>
  <p>Please enter information below</p>
  

  <mat-tab-group>
    <mat-tab label="First" [(ngModel)]="data">
      
      <mat-form-field appearance="fill">
        <mat-label>Field 1</mat-label>
        <input matInput [(ngModel)]="data.age">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Field 2</mat-label>
        <input matInput [(ngModel)]="data.name">
      </mat-form-field>
      <button mat-button mat-dialog-close="data" cdkFocusInitial>Ok</button>
      
    </mat-tab>
    <mat-tab label="Second">
      <mat-form-field appearance="fill">
        <mat-label>Field 3</mat-label>
        <input matInput [(ngModel)]="data.age">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Field 4</mat-label>
        <input matInput [(ngModel)]="data.name">
      </mat-form-field>
      <button mat-button mat-dialog-close="data" cdkFocusInitial>Ok</button>
    </mat-tab>
    
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button mat-dialog-close="data" cdkFocusInitial>Ok</button>
</div>

